Source: libvirt-prometheus-exporter  
Maintainer: Michael Jensen <michaeljensendk@hotmail.com>
Build-Depends: debhelper, libvirt-daemon (>= 8.0.0), libvirt-dev
Standards-Version: 3.9.3
Section: utils
Priority: optional

Package: libvirt-prometheus-exporter  
Priority: optional  
Section: utils
Architecture: amd64
Depends: ${shlibs:Depends}, libvirt-daemon (>= 8.0.0), libvirt-daemon-system (>= 8.0.0)
Description: a simple libvirt prometheus exporter.
 The exporter exports cpu and network metrics in the global 
 namespace.
